//we're putting this section in home because we won't have about section anywhere else in our code.
.section-about {
  background-color: $color-grey-light-1;

  //the reason we're setting these weird margins and paddings is because the traingle made using clip-path has a white background but other contents of our site have a grey background. to make the background under that triangle wedge as grey as well, we'll just add top and bottom padding to our about section, and then give it a -20vh margin to move it upwards. Why -20vh? Because if you look carefully at the code for the clip path, the header takes 95vh height, and the clip path takes 75vh height, the difference between the two is the height of the white area and that's what we're trying to hide.
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  //adding padding to give a modern and spaced out look
  padding: 20rem 0;

  //adding gradient background image like the home page cover
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);

  //nicely covers the section
  background-size: cover;

  //now, to create a parallelogram in the background we can use clip path life we did for the home page, but there's another nice trick we can use to achieve this. We can just skew the entire section by a small amount. What will happen is, that we will get our parallelogram but all the feature boxes will also get skewed. To counter that, we will just skew the feature boxes by the same amount in opposite direction, that is, by +7 degrees! Brilliant! Further, we won't do that in feature-box's CSS, we'll do it here, by using a new type of selector called direct child selector. It selects the direct children of the given element. Here we'll select all the direct children of the element with sections-features class
  transform: skewY(-7deg);

  //to cover the white space caused bin the background because of the skewing, we'll just move our section up a bit using newgative top margin
  margin-top: -10rem;

  //the > symbol enables us to select only the direct childs of the element. If we had just used the * without >, we'd have selected all the children, not just direct children.
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  //copying some properties from section-features
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;

  //adding negative margin to shift the section back upwards, to match the background color
  margin-top: -10rem;
}

.section-stories {
  padding: 15rem 0;

  //removing the bg color as there is a video in the bg now
  //background-color: $color-grey-light-1;

  //for background video's absolute position
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  //to create the slanted polygon design again we can use clip path like we did before. But here we will try something new. There is a CSS property called solid gradient. It is a kind of trick to make a separation like this, but we can do it using the following tactics shown here
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);

  //background-size: 100% is equal to cover as it covers the entirety of the screen. We can use them interchangeably
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  //setting height here for testing purposes. Later on the height of the box can be defined by the content inside it
  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
